/*
* 
* @author Cesar Siqueira
* @version 0.1
*/

/* ========================= layout ======================== */
html, body, .index {
	height: 100%;
	overflow: auto;
}

body {
	background: url('imagens/capa.jpg'),
	no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover; /* SAFARI / CHROME */
	-moz-background-size: cover; /* FIREFOX */
	-ms-background-size: cover; /* IE */
	-o-background-size: cover; /* OPERA */
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}


/* -- Barra de navegação -- */



nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;	
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;		
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

.navbar-nav {
    float:none;    
    text-align: center;
    color: white;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

/* -- Texto Index -- */

.index {
	display: table;
	width: 100%;
}


.texto-index {
	text-align: center;
	color: black;
	display: table-cell;
	vertical-align: middle;
}



.face{
	
	padding: 100px 0px 0px 0px;
	width: 400; ;
	height: 420; 
	border: none;
	overflow: hidden;
}



/* -- rodape -- */
footer {
	background: #000;
	padding: 0px 0px 0px 0px;
	position: relative;
     
}

.item-rede-social{
	float: right;	
}

.sign {

	padding: 20px 0px 10px 0px;
}

.locimg {

	padding: 0px 50px 10px 0px;
}

.imgrodape {	
	height: 30px;	
}

/* ========================= Tipografia ======================== */
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

/* Media queries */

/* sm */
@media screen and (min-width: 768px) {
    h1 {
	    font-size: 70px; 
  	}

}

/* md */
@media screen and (min-width: 992px) {
    h1 {
	    font-size: 80px; 
  	}
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
	    font-size: 100px; 
  	}
}
/* Fim Media queries */
